:root {
    --mainEng-font: "Binggrae";
    --mainKor-font: "Binggrae";
    --bold-font: "Binggrae-Bold";


    --mainColor: #ed4043;
    --subColor: #16a2d5;

    --white: #fff;
    --black: #000;
    --black100: #222;

    --nav-gap:40px;
    --gnb-gap:12px;

    font-family: var(--mainKor-font);

    body {
        color: var(--black100);
    }
}