@import '/reset.css';
@font-face {
  font-family: BMJUA;
  src: url(/Font/BMJUA/BMJUA_ttf.ttf);
}
body {
  font-family: BMJUA;
}

.flex {
  display: flex;
}

.bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
}
.bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrap {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.wrap header {
  width: 160px;
  height: 100%;
  background: #FEEFC5;
  position: fixed;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px;
}
.wrap header h1 img {
  width: 100%;
}
.wrap header .menu {
  padding: 1.5rem;
  margin-top: 1rem;
  text-align: end;
  color: #333333;
  font-weight: 600;
  font-size: 18px;
}
.wrap header .menu li {
  margin-top: 1.5rem;
  position: relative;
}
.wrap header .menu li::after {
  position: absolute;
  content: "";
  left: -10rem;
  bottom: -3px;
  width: 90px;
  height: 15px;
  transform: skew(-45deg);
  background: #BFB493;
  z-index: -1;
  transition: 1s;
}
.wrap header .menu li:hover::after {
  left: 1.5rem;
  transition: 0.35s;
}
.wrap header .service {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin: 12rem 0 3rem;
}
.wrap header .service li {
  flex: 1;
  border: 2px solid #BFB493;
  padding: 1rem 0;
  border-right: none;
  cursor: pointer;
}
.wrap header .service li:hover {
  color: #BFB493;
}
.wrap header .SNS {
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 1rem;
}
.wrap header .SNS li a {
  display: block;
  overflow: hidden;
}
.wrap header .tab {
  margin-top: 2rem;
  font-size: 10px;
  color: #333333;
}
.wrap header .tab li {
  padding: 0.5rem 1rem;
  border-top: 2px solid #BFB493;
  align-items: center;
  justify-content: space-between;
}
.wrap header .tab li span {
  height: 14px;
  display: block;
  cursor: pointer;
}
.wrap header .tab li span img {
  width: 14px;
}
.wrap header p {
  color: #333333;
  font-size: 12px;
  margin-top: 3rem;
  padding: 1rem;
}
.wrap section {
  margin-left: 160px;
  transition: 0.35s;
}
.wrap section article {
  width: 380px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px;
  background: #FFE9C7;
  color: #333333;
}
.wrap section article figure {
  width: 380px;
  height: 500px;
  border-bottom: 3px solid red;
}
.wrap section article figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}
.wrap section article figcaption {
  width: 100%;
  padding: 1rem 2rem;
}
.wrap section article figcaption .icon_box img {
  width: 30px;
}
.wrap section article figcaption h2 {
  font-size: 32px;
}
.wrap section article figcaption .star_box {
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  font-weight: 600;
  font-size: 24px;
}
.wrap section article figcaption .star_box .star {
  width: 160px;
}
.wrap section article figcaption .star_box img {
  width: 20%;
}
.wrap section article figcaption .content li {
  margin-top: 1.5rem;
}
.wrap section article figcaption .content li h3 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}
.wrap section article figcaption .content li span {
  display: block;
  letter-spacing: -0.05em;
  font-weight: 500;
}
.wrap section article figcaption .content li p {
  text-align: justify;
  background: #999;
  padding: 1rem;
  border-radius: 20px;
}
.wrap .btn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.wrap .btn .box {
  width: 60px;
  height: 60px;
  background: #999;
  cursor: pointer;
}
.wrap .btn .box img {
  width: 60px;
}
.wrap .btn .right {
  opacity: 0.5;
}
.wrap .btn .left {
  display: none;
}